.h1-main {
  text-align: center;
  font-size: 24px;
}

.p-main {
  font-size: 120%;
  text-align: center;
}

.nav-main ul {
  text-align: center;
  list-style-type: none;
}

.nav-main li {
  display: inline-block;
  margin-right: 15px;
}

.nav-main li a {
  text-decoration: none;
}
.nav-main a.visit-1 {
  text-decoration: none;
  color: #3366cc; /* Колір для не відвіданих visit-1 */
}

.nav-main a.visit-1:visited {
  text-decoration: none;
  color: #993399; /* Колір для відвіданих visit-1 */
}

.nav-main a.visit-2 {
  text-decoration: none;
  color: #ff0000; /* Колір для не відвіданих visit-2 */
}

.nav-main a.visit-2:visited {
  text-decoration: none;
  color: #800080; /* Колір для відвіданих visit-2 */
}

.nav-main a.visit-3 {
  text-decoration: none;
  color: #00cc00; /* Колір для не відвіданих visit-3 */
}

.nav-main a.visit-3:visited {
  text-decoration: none;
  color: #663399; /* Колір для відвіданих visit-3 */
}

.nav-main a.visit-4 {
  text-decoration: none;
  color: #ff9900; /* Колір для не відвіданих visit-4 */
}

.nav-main a.visit-4:visited {
  text-decoration: none;
  color: #996633; /* Колір для відвіданих visit-4 */
}
